{% extends 'adminpanel/base.html' %}

{% load static %}

{% block content %}



<div class="content_body" id="content_body">
    <div class="wrapper_content_body">

        <div class="type_pages_list">



            <div class="row rmr">

                <div class="col-lg-1 col-xs-3 height_control">
                    <input type="checkbox" class="check_checkbox" id="checkall">
                </div>


                <div class="col-lg-2 col-xs-12 col-sm-4">
                    <div class="itemselect_filter green">
                        <a href="javascript:;" onclick="actionData('ACTIVE','block_action','action_type')">
                            <i class="fa fa-thumbs-up"></i>Active
                        </a>
                    </div>
                </div>

                <div class="col-lg-2 col-xs-12 col-sm-4">
                    <div class="itemselect_filter green">
                        <a href="javascript:;" onclick="actionData('INACTIVE','block_action','action_type')">
                            <i class="fa fa-thumbs-down"></i> InActive
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="table_data_check">
            <div class="table_head_sec">
                <h2>ALL Category LIST</h2>
            </div>


            <div class="table_overflow">
                <form action="{% url 'admn_category_block_unblock' %}" method="POST" id="block_action">
                    {% csrf_token %}

                    <input type="hidden" value="" name="action_type" id="action_type">
                    <table id="table_filter" class="tablenormal">
                        {% include 'userside/includes/alert.html' %}

                        <thead>
                            <tr>

                                <th></th>
                                <th>ID</th>
                                <th>Category Name</th>
                                <th>Is Active</th>
                                <th>Slug</th>
                                <th>Description</th>
                                <th>Category Image</th>
                                <th>Action</th>



                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td><input type="checkbox" name="category_id[]" class="check_select"
                                        value="{{ category.id }}"></td>
                                <td>{{category.id}}</td>
                                <td>{{category.category_name}}</td>
                                <td>{{category.is_active}}</td>
                                <td>{{category.slug}}</td>
                                <td>{{category.description}}</td>
                                <td><img src="{{category.category_image.url}}" style="width: 150px; height: 120px;"></td>

                                <td>
                                    <div class="d-flex gap-5 justify-content-center">

                                        <form action="" method="POST">
                                            {% csrf_token %}

                                            <a href="{% url 'update_category' pk=category.id %}"
                                                class="btn btn-outline-primary" id="block">Edit</a>


                                        </form>
                                    </div>
                                </td>


                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </form>
            </div>

        </div>


    </div>
</div>

{% endblock content %}