{% extends 'adminpanel/base.html' %}

{% load static %}
{% load bootstrap4 %}


{% block content %}

<div class="content_body" id="content_body">
    <div class="wrapper_content_body">
        <h4>Add Coupon Details</h4>
        <div class="content_box_border">
            {% include 'userside/includes/alert.html' %}
            <form enctype="multipart/form-data" class="container" method="post" id="product_form">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header card-header-secondary">
                        <h4 class="card-title">Add Coupon</h4>
                    </div>
                    {% for field in form %}
                    <div class="form-group card-body">
                        <label>{{field.label}}</label>
                        {% if field.field.required %}
                        <span style="color: red;" class="required">*</span>
                        {% endif %}
                        {{field}}
                        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
                        {{ form.media }}
                        
                        {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-secondary btn-block">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
