{% extends 'userside/partial/base.html' %}

{% load static %}


{% block content %}


<!-- Body Start -->
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">User Dashboard</a></li>
                        </ol>
                    </nav>
                    {% include 'userside/includes/alert.html' %}

                </div>
            </div>
        </div>
    </div>
	
    <div class="">
        <div class="container">
            <div class="row">
                {% include 'userside/partial/dashboard_sidebar.html' %}
                
                <div class="col-lg-9 col-md-8">
                    <div class="dashboard-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-title-tab">
                                    <h4><i class="uil uil-apps"></i>Overview</h4>
                                </div>
                                <div class="welcome-text">
                                    <h2>Hi! {{user.username}}</h2>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="pdpt-bg">
                                    <div class="pdpt-title">
                                        <h4>My Profile</h4>
                                    </div>
                                    <div class="ddsh-body">
                                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                                        <ul>
                                            <li>
                                                <a href="#" class="small-reward-dt hover-btn">{{user.email}}</a>
                                            </li>
                                            <li>
                                                <a href="#" class="small-reward-dt hover-btn">{{user.phone_number}}</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <a href="{% url 'edit_profile' %}" class="more-link14">Edit You Profile <i class="uil uil-angle-double-right"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="pdpt-bg">
                                    <div class="pdpt-title">
                                        <h4>My Orders</h4>
                                    </div>
                                    <div class="ddsh-body">
                                        <h2>{{orders_count}} Purchases</h2>
                                        
                                    </div>
                                    <a href="{% url 'my_orders' %}" class="more-link14">All Orders <i class="uil uil-angle-double-right"></i></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>	
        </div>	
    </div>	
</div>
<!-- Body End -->

{% endblock content %}