
<div class="logo-container">PalettePassion</div>
<table class="invoice-info-container">
    <tbody>
        <tr>
            <td class="client-name" rowspan="2">{{user.username}}</td>
            <td>{{orders.first_name}} {{orders.last_name}}</td>
        </tr>
        <tr>
            <td>{{orders.address_line_1}},{{orders.address_line_2}}</td>
        </tr>
        <tr>
            <td>Invoice Date: <strong>{{today_date}}</strong></td>
            <td>{{orders.city}},{{orders.country}}</td>
        </tr>
        <tr>
            <td>Invoice No: <strong>{{invoice_number}}</strong></td>
            <td>{{orders.email}}</td>
        </tr>
    </tbody>
</table>
<table class="line-items-container" >
    <thead>
        <tr>
            <th class="heading-quantity" style="width: 30.15px;">No</th>
            <th class="heading-description" style="width: 174.25px;">Description</th>
            <th class="heading-price" style="width: 52.2px;">Price</th>
            <th class="heading-tax" style="width: 52.2px;">tax</th>
            <th class="heading-del"style="width: 0px;">Delivery Charge</th>
            <th class="heading-quan" style="width: 3.0625px;">Quantity</th>
            <th class="heading-subtotal" style="width: 69.1375px;">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order_detail %}

        <tr>
            <td style="width: 30.15px;"></td>
            <td style="width: 174.25px;">{{item.product}} <br><small> size-{{item.variations}}</small></td>
            <td class="right" style="width: 52.2px;">${{total}}</td>
            <td style="width: 174.25px; text-align: center;">${{tax}}</td>
            <td style="width: 174.25px;">${{shipping}}</td>
            <td style="width: 174.25px;">{{item.quantity}}</td>
            <td class="bold" style="width: 69.1375px;">${{orders.order_total}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table class="line-items-container has-bottom-border">
    <thead>
        <tr>
            <th>Payment Info</th>
            {% if orders.payment.payment_method == 'Cash on Delivery'%}
            <th>Due By</th>
            {% endif %}
            <th>Total Due</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="payment-info">
                <div>Account No: <strong>{{orders.payment.payment_id}}</strong></div>
                <div>Routing No: <strong>120000547</strong></div>
            </td>
            {% if orders.payment.payment_method == 'Cash on Delivery'%}
            <td class="large">{{formatted_delivery_date}}</td>
            {% endif %}
            <td class="large total">${{orders.order_total}}</td>
        </tr>
    </tbody>
</table>
<div class="footer">
    <div class="footer-info">hello@palettepassion.com | 555 444 6666 | palettepassion.com</div>
    <div class="footer-thanks"><img src="https://github.com/anvilco/html-pdf-invoice-template/raw/main/img/heart.png"
            alt="heart" />Thank you!</div>
</div>

<style>
    /*
  Common invoice styles. These styles will work in a browser or using the HTML
  to PDF anvil endpoint.
*/

body {
    font-size: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr td {
    padding: 0;
}

table tr td:last-child {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.right {
    text-align: right;
}

.large {
    font-size: 1.75em;
}

.total {
    font-weight: bold;
    color: #fb7578;
}

.logo-container {
    margin: 20px 0 70px 0;
}

.invoice-info-container {
    font-size: 0.875em;
}

.invoice-info-container td {
    padding: 4px 0;
}

.client-name {
    font-size: 1.5em;
    vertical-align: top;
}

.line-items-container {
    margin: 70px 0;
    font-size: 0.875em;
}

.line-items-container th {
    text-align: left;
    color: #999;
    border-bottom: 2px solid #ddd;
    padding: 10px 0 15px 0;
    font-size: 0.75em;
    text-transform: uppercase;
}

.line-items-container th:last-child {
    text-align: right;
}

.line-items-container td {
    padding: 15px 0;
}

.line-items-container tbody tr:first-child td {
    padding-top: 25px;
}

.line-items-container.has-bottom-border tbody tr:last-child td {
    padding-bottom: 25px;
    border-bottom: 2px solid #ddd;
}

.line-items-container.has-bottom-border {
    margin-bottom: 0;
}

.line-items-container th.heading-quantity {
    width: 50px;
}

.line-items-container th.heading-price {
    text-align: right;
    width: 100px;
}
.line-items-container th.heading-tax {
    text-align: center;
    width: 100px;
}

.line-items-container th.heading-subtotal {
    width: 100px;
}

.payment-info {
    width: 38%;
    font-size: 0.75em;
    line-height: 1.5;
}

.footer {
    margin-top: 100px;
}

.footer-thanks {
    font-size: 1.125em;
}

.footer-thanks img {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 16px;
    margin-right: 4px;
}

.footer-info {
    float: right;
    margin-top: 5px;
    font-size: 0.75em;
    color: #ccc;
}

.footer-info span {
    padding: 0 5px;
    color: black;
}

.footer-info span:last-child {
    padding-right: 0;
}

.page-container {
    display: none;
}



</style>
<style>
    /* Apply a Google Font for demonstration purposes */
    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

    /* Apply styling to your text */
    .logo-container {
        font-family: 'Alfa Slab One', serif;
        font-size: 32px; /* Adjust font size as needed */
        color: #333; /* Set text color */
        font-weight: bold; /* Set font weight to bold */
        text-transform: uppercase; /* Convert text to uppercase */
        letter-spacing: 1px; /* Add letter spacing */
    }
</style>