{% extends 'userside/partial/base.html' %}

{% load static %}


{% block content %}
<!-- Body Start -->
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">User
                                    Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'my_wallet' %}">My Wallet</a></li>
                            {% include 'userside/includes/alert.html' %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <div class="">
        <div class="container">
            <div class="row">
                {% include 'userside/partial/dashboard_sidebar.html' %}
                <div class="col-lg-9 col-md-8">
                    <div class="dashboard-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-title-tab">
                                    <h4><i class="uil uil-wallet"></i>My Wallet</h4>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="pdpt-bg">
                                    <div class="reward-body-dtt">
                                        <div class="reward-img-icon">
                                            <img src="{% static 'images/money.svg' %}" alt="">
                                        </div>
                                        <span class="rewrd-title">My Balance</span>
                                        <h4 class="cashbk-price">${{userprofile.wallet}}</h4>
                                        <span class="date-reward"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body End -->

    {% endblock content %}