{% extends 'userside/partial/base.html' %}

{% load static %}


{% block content %}
<!-- Body Start -->
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dashboard' %}">User
                                    Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'my_wishlist' %}">My Wishlist</a></li>
                            
                            {% include 'userside/includes/alert.html' %}
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    
    <div class="">
        <div class="container">
            <div class="row">
                {% include 'userside/partial/dashboard_sidebar.html' %}
                <div class="col-lg-9 col-md-8">
                    <div class="dashboard-right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-title-tab">
                                    <h4><i class="uil uil-heart"></i>Shopping Wishlist</h4>
                                </div>
                            </div>								
                            <div class="col-lg-12 col-md-12">
                                <div class="pdpt-bg">
                                    <header class="card-header">
                                        <strong class="d-inline-block mr-3">All Wishlist ({{wishlistItems_count}})</strong>
                                    </header>
                                    <div class="wishlist-body-dtt">
                                        {% for wishlistItem in wishlistItems %}
                                        <div class="cart-item">
                                            <div class="cart-product-img">
                                                <img src="{{ wishlistItem.product.image.url }}" alt="">
                                            </div>
                                            <div class="cart-text" style="display: flex; align-items: center; justify-content: space-between;">
                                                <div>
                                                    <a href="{{wishlistItem.product.get_url}}" class="title text-dark line-clamp">

                                                    <h3>{{ wishlistItem.product.product_name }}</h3>
                                                    <div > {{ wishlistItem.product.category.category_name }}</div>
                                                    </a>
                                                </div>
                                                <div class="wishlistButton" data-product-id="{{wishlistItem.product.id}}">
                                                    <span class="like-icon liked" title="wishlist"></span>
                                                </div>
                                            </div>
                                                
                                        </div>
                                        {% empty %}
                                        <div>
                                        <img style=" padding-bottom: 53px;
                                        padding-left: 158px;
                                        padding-top: 73px;" 
                                        src="{% static 'images/notfound.png' %}" alt=""></div>
                                        </div>
                                        
                                        {% endfor %}
                                    
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Body End -->

    {% endblock content %}