{% extends 'userside/partial/base.html' %}

{% load static %}

{% block content %}

<!--================Order Details Area =================-->
<div class="wrapper">
    <div class="gambo-Breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Order Placed</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="all-product-grid">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-8">
                    <div class="containerjustify-content-center " style="margin-top: 50px;">
                        <center><i class="fas fa-check-circle" style="font-size: 72px;margin-bottom: 20px;color: #e32e06;"></i></center>
                        <h2 class="text-center">Sorry ! Order Not Placed ! </h2>
                        <div class="d-flex justify-content-center">
                            <div>
                                
                                <img src="{% static 'images/oops.png' %}" style="max-width: 400px;" alt="order Placed" >
                            </div>
                            
                        </div>
                        
                        <h6 class="text-center">Reason  </h6>
                            {% if messages %}
                            {% for message in messages %}
                            <p class="text-center">{{message}}</p>
                        
                            {% endfor %}
                            {% endif %}
                    
                            <p class="text-center">
                                {{error_description}} <br>
                                <a href="{% url 'checkout' %}" >Retry Payment !</a>
                            </p>
                            
                    
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
