{% extends 'userside/partial/base.html' %}

{% load static %}


{% block content %}


	<!-- Body Start -->
	<div class="wrapper">
		<!-- Offers Start -->
		<div class="main-banner-slider">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel offers-banner owl-theme">
							{% for ban in banners %}
							<div class="item">
								<div class="offer-item">								
									<div class="offer-item-img">
										<div class="gambo-overlay"></div>
										<img src="{{ban.banner.url}}" alt="">
									</div>
									<div class="offer-text-dt">
										<!-- <div class="offer-top-text-banner">
											<p>6% Off</p>
											<div class="top-text-1">Buy More & Save More</div>
											<span>Fresh Vegetables</span>
										</div> -->
										<a href="#" class="Offer-shop-btn hover-btn">{{ban.button_text}}</a>
										
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Offers End -->
		<!-- Categories Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>Shop By</span>
								<h2>Categories</h2>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="owl-carousel cate-slider owl-theme">
							{% for category in links %}
							<div class="item">
								<a href="{{ category.get_url }}" class="category-item">
									<div class="cate-img">
										<img src="{{ category.category_image.url }}" alt="">
									</div>
									<h4>{{ category.category_name }}</h4>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Categories End -->
		<!-- Featured Products Start -->
		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>For You</span>
								<h2>Top Featured Products</h2>
							</div>
							<a href="#" class="see-more-btn">See All</a>
						</div>
					</div>
		
					{% for product in products %}
					<div class="col-md-3"> <!-- Each product is placed in a column -->
						<div class="product-item">
							<a href="{{ product.get_url }}" class="product-img">
								<img src="{{ product.image.url }}" alt="">
								<div class="product-absolute-options">
									<!-- <span class="offer-badge-1">6% off</span> -->
									{% if product.id in wishlist_items %}
									<div class="wishlistButton" data-product-id="{{product.id}}" >
										<span class="like-icon liked" title="wishlist"></span>
									</div>
									{% else %}
									<div class="wishlistButton" data-product-id="{{product.id}}" >
										<span class="like-icon" title="wishlist"></span>
									</div>
									{% endif %}									
								</div>
							</a>
							<div class="product-text-dt">
								<a href="{{ product.get_url }}">{{product.product_name}}</a>
								<div class="product-price">${{product.price}}</div>
								<!-- <div class="qty-cart">
									<a href="{% url 'add_cart' product.id %}" class="btn w-100 btn-dark">
										<span class="cart-icon"><i class="uil uil-shopping-cart-alt"></i></span>
											Add to cart </a>
								</div> -->
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<style>
			/* Add margin to the bottom of each product item (adjust the value as needed) */
			.product-item {
				margin-bottom: 20px;
			}
		</style>
		<style>
			/* Add margin to the bottom of each product item (adjust the value as needed) */
			.product-item {
				margin-bottom: 20px;
			}
		
			/* Set a fixed width and height for the product images (adjust the values as needed) */
			.product-img img {
				width: 200px; /* Set your desired width */
				height: 200px; /* Set your desired height */
			}
		</style>
		{% if recent_viewed_products %}

		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<h2 class="catg-heading-text py-4">
									Recently Viewed Products
									</h2> 							</div>
							<a href="#" class="see-more-btn">See All</a>
						</div>
					</div>
					{% for product in recent_viewed_products %}
					<div class="col-md-3">
									<div class="product-item">
										<a href="{{ product.product.get_url }}" class="product-img">
											<img src="{{product.product.image.url}}" alt="">
											<div class="product-absolute-options">
												<!-- <span class="offer-badge-1">6% off</span> -->
												{% if product.id in wishlist_items %}
												<div class="wishlistButton" data-product-id="{{product.id}}" >
													<span class="like-icon liked" title="wishlist"></span>
												</div>
												{% else %}
												<div class="wishlistButton" data-product-id="{{product.id}}" >
													<span class="like-icon" title="wishlist"></span>
												</div>
												{% endif %}											</div>
										</a>
										<div class="product-text-dt">
											<a href="{{ product.product.get_url }}">{{product.product.product_name}}</a>
											<div class="product-price">${{product.product.price}}</div>
											<div class="qty-cart">
												<a href="{{ product.product.get_url }}" class="btn w-100 btn-dark">
														SHOW</a>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% else %}
				{% endif %}
			
		<!-- Vegetables and Fruits Products End -->
		<!-- New Products Start -->
		{% if recent_products %}

		<div class="section145">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-title-tt">
							<div class="main-title-left">
								<span>For You</span>
								<h2>Added New Products</h2>
							</div>
							<a href="#" class="see-more-btn">See All</a>
						</div>
					</div>
							{% for product in recent_products %}
								<div class="col-md-3">
									<div class="product-item">
										<a href="{{ product.get_url }}" class="product-img">
											<img src="{{product.image.url}}" alt="">
											<div class="product-absolute-options">
												<!-- <span class="offer-badge-1">6% off</span> -->
												{% if product.id in wishlist_items %}
												<div class="wishlistButton" data-product-id="{{product.id}}" >
													<span class="like-icon liked" title="wishlist"></span>
													
												</div>
												{% else %}
												<div class="wishlistButton notLiked" data-product-id="{{product.id}}" >
													<span class="like-icon" title="wishlist"></span>
												</div>
												{% endif %}
											</div>
										</a>
										<div class="product-text-dt">
											<a href="{{ product.get_url }}">{{product.product_name}}</a>
											<div class="product-price">${{product.price}}</div>
											
										</div>
									</div>
								</div>
							{% endfor %}
						
				</div>
			</div>
		</div>
		<!-- New Products End -->
	</div>
	{% else %}

	{% endif %}
	<!-- Body End -->
	

{% endblock content %}